body {
  font-family: 'Taviraj', serif; }

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: transparent; }

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  z-index: 100; }

.main-textarea {
  font-size: 18px;
  font-family: 'Taviraj', serif; }

.saved-textarea {
  font-size: 18px;
  font-family: 'Taviraj', serif; }

.shortcut-text {
  font-size: 14px;
  color: #a4a4a4; }

.logo-text {
  font-family: 'Taviraj', serif;
  margin-left: 20px; }

.page-title {
  text-align: center;
  font-weight: 200;
  font-size: 2.5rem; }

.section-title {
  text-align: center;
  font-weight: 200; }

.section {
  background-color: #efefef;
  border-radius: 20px;
  min-height: 150px;
  transition: background .4s ease;
  outline: none;
  cursor: pointer; }

.section:hover {
  background-color: #e3e3e3; }

.selected {
  background-color: #e3e3e3; }
